/*ESTILOS DE INDEX_2*/
body{
    margin: 0 auto;
    text-align: center; 

}

.container{
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: repeat (5, 1fr);
  grid-template-areas: 
  "header"
  "menu"
  "section"
  "footer";
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("../imagenes/fondo2.jpg");
}

.header{
  background-color: rgb(163, 1, 1);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: white;
}


h1,h2,h3,h4,h5{
    margin: 0;
}

  .menu{
    display: flex;
     justify-content: center;
     align-items: center;
     }
    
.menu ul {
     list-style: none;
     overflow: hidden; 
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

.menu ul li {
    float: left;
    font-size: 1.2rem;
    background-color: rgb(163, 1, 1);;
    margin: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
}
    

 .menu ul li a {
     display: block; 
     
     color: white;
     text-decoration: none;
   }

   .menu ul li a:hover {
    color: #dfdfdf;
  }

  
  .article__f1{
    color: black;
    border-radius: 5px;
    border:1px solid black;
    background-color: rgba(255, 2, 2, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin:15px;
  }

  .article__f1__title{
    padding: 20px;
    color: white;
    
    text-transform: uppercase;
  }

  .article__f1__info{
    padding: 10px;
    margin: 5px;
    color:  black;
    background-color: white;
    border-radius: 2px;
  }


  .article__f1__title:hover{
    color: #dfdfdf;
    
  }

  .content{
    width: 80%;
    margin:25px;
    display:grid;
    grid-template-columns: repeat(3,33%);
    align-content: space-between;
    margin: 0 auto;
  }


  .fotos__res{
    max-width: 100%;
    height: auto;
   
  }

  .fotos__res_2{
    max-width: 15%;
    height: auto;
  }


  .footer__web{
  background-color: rgb(163, 1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

footer ul {
  list-style: none;
  overflow: hidden; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
 float: left;
 font-size: 1.2rem;
 background-color: rgb(163, 1, 1);;
 margin: 15px;
 border: 1px solid black;
 border-radius: 3px;
}
 

footer ul li a {
  display: block; 
  padding: 20px;
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
 color: #dfdfdf;
}

footer h1{
  color: white;
}

.footer__info{
  background-color: white;
  padding: 10px;
}






@media (min-width: 1700px) {
   }

@media (max-width: 1500px) {
  .content{
    grid-template-columns: repeat(2,50%);
   }

  .footer{
    display: block;  
  }

  .info__footer{
    border-left: none;
    border-top: 1px solid white;
    width: 100%;
  }
}

@media (max-width: 1000px) {

  .menu{
    background-color: rgba(255, 255, 255, 0.527);
  }
  .menu ul {
    padding: 10px;
    flex-direction: column;
  }
 

  .menu ul li {
    font-size: 0.8rem;
    margin: 5px;
    padding: 10px;
}

.footer__web{
  flex-direction: column;
}

.footer ul {
  padding: 10px;
  flex-direction: column;
}

.footer ul li {
  font-size: 0.8rem;
  margin: 5px;
  padding: 10px;
}



  .content{
    grid-template-columns: repeat(1,100%);
   }
}
 

@media (max-width: 320px) {   
  
  

 }