/* Estilos por defecto (pantalla de escritorio) */
body{
    margin: 0 auto;
    text-align: center;
   
    
}

.container__1{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat (5, 1fr);
  font-family: 'Times New Roman', Times, serif;
  background-image: url("../imagenes/fondo1.jpg");
  background-size: cover;
}

.container__2{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header_2 header_2'
    'menu_2 menu_2'
    'menu_paises section_2'
    'footer_2 footer_2';
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header__1{
  background-image: url("../imagenes/textura1.png");
    padding: 25px;
}

.header__2{
  grid-area: header_2;
  background-color: red;
  padding: 25px;
}


h1,h2,h3,h4,h5{
    margin: 0;
}

.menu__1{
  background-image: url("../imagenes/textura2.png");
  border-top: 2px solid black;
  }
   
.menu__1 ul {
    list-style: none;
    overflow: hidden; 
    margin: 0;
  }
   
.menu__1 ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
   
.menu__1 ul li a {
    display: block; 
    padding: 20px;
    color: black;
    text-decoration: none;
  }

  .menu__2{
    background-color: aqua;
    grid-area: menu_2;
   }
    
 .menu__2 ul {
     list-style: none;
     overflow: hidden; 
     margin: 0;
   }
    
 .menu__2 ul li {
     float: left;
     font-family: Arial, sans-serif;
     font-size: 16px;
   }
    
 .menu__2 ul li a {
     display: block; 
     padding: 20px;
     color: black;
     text-decoration: none;
   }

   .menu_paises{
    grid-area: menu_paises;
    background-color: blue;
    padding: 10px;
   }

   .paises__container{
    list-style: none;
    overflow: hidden; 
    text-align: left;
    display:inline-block;
  }

  .paises__list{
    text-decoration: underline;
    padding: 3px;
  }
   

   .content_2{
    grid-area: section_2;
   }
  .search__1{
    padding: 20px;
    font-size: 1.3em;
  }

  .data__container__books{
    width:60%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(3,33%);
    align-content: space-between;

  }

  .article__book{
    border-radius: 5px;
    background-image: url("../imagenes/textura1.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    padding: 10px;
    margin:15px;
    
  }
   

.footer__1{
  background-image: url(../imagenes/textura2.png);
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px
  
}

.footer__2{
 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  grid-area: footer_2;
}

footer ul {
  list-style: none;
  overflow: hidden; 
  margin: 0;
}

.footer__1 ul li a{
  display: block; 
 
  color:black;
}

.footer__2 ul li a{
  display: block; 
 
  color:white;
}

.text__footer__1{
  padding:15px;
}

.info__footer__1{
  border-left: 1px solid white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:15px;
}


/* Pantalla grande y resoluciones superiores */ 
@media (min-width: 1200px) {  }
/* Tabletas en posición vertical */
@media (max-width: 880px) {
  .data__container__books{
    grid-template-columns: repeat(2,1fr);
   }

  .footer__1{
    display: block;  
  }

  .info__footer__1{
    border-left: none;
    border-top: 1px solid white;
    width: 100%;
  }
}
/* Smartphone en posición horizontal y resoluciones inferiores */
@media (max-width: 480px) {
  .data__container__books{
    grid-template-columns: repeat(1,1fr);
   }

   .info__footer__1{
    display: block;
  }

  .info__footer__1 ul{
    padding: 10px;
  }

}
 
/* Smartphone en posición vertical */
@media (max-width: 320px) {   
  
  

 }